<html xmlns:th="https://thymeleaf.org">
<title>FLight Results</title>
<head></head>
<style>
h2{
background-color: #398AA4;;
color : #FFFFFF;
font: 20px arial, sans-serif;
width: 100%;
text-align: center;
}
table.steelBlueCols {
background-color: #555555;
width: 100%;
text-align: center;
border-collapse: collapse;
padding: 25px 25px;
}
table.steelBlueCols td, table.steelBlueCols th {
border: 1px solid #555555;
padding: 5px 10px;
}
table.steelBlueCols tbody td {
font-size: 15px;
font-weight: bold;
color: #FFFFFF;
}
table.steelBlueCols td:nth-child(even) {
background: #398AA4;
}
table.steelBlueCols thead {
background: #398AA4;
border-bottom: 10px solid #398AA4;
}
table.steelBlueCols thead th {
font-size: 15px;
font-weight: bold;
color: #FFFFFF;
text-align: left;
border-left: 2px solid #398AA4;
}
table.steelBlueCols thead th:first-child {
border-left: none;
}

table.steelBlueCols tfoot td {
font-size: 13px;
}
table.steelBlueCols tfoot .links {
text-align: right;
}
table.steelBlueCols tfoot .links a{
display: inline-block;
background: #FFFFFF;
color: #398AA4;
padding: 2px 8px;
border-radius: 5px;
}
</style>
<form>
    <br/><br/><br/>
    <h2>Flights Available On Selected Date</h2>
<table class="steelBlueCols">
    <thead>
    <tr>
        <th>Flight No </th>
        <th>Flight Name</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${flights.empty}">
        <td colspan="2"> No Flights Available </td>
    </tr>
    <tr th:each="trip : ${flights}">
        <td><span th:text="${trip.route.flight.no}"></span> </td><td><span th:text="${trip.route.flight.name}"></span></td>
        <td><span th:text="${trip.route.origin}"></span></td><td><span th:text="${trip.route.destination}"></span></td>
        <td><span th:text="${trip.route.departureDate}"></span>
        </td><td><span th:text="${trip.calculatedPrice}"></span></td>
    </tr>
    </tbody>
    </tr>
</table>
</form>
</html>